<div class="relative break-inside-avoid bg-white shadow-lg rounded-lg p-6 mb-6 flex flex-col border-2 border-[#D49BA7] transform hover:scale-105 transition-transform duration-300">
    <!-- Nama Produk -->
    <div class="bg-[#DAABB5] text-gray-800 p-4 rounded-t-lg border-b-2 border-[#D49BA7] text-center">
        <h3 class="font-bold text-2xl mb-2">{{item.item}}</h3>
    </div>
    
    <!-- Isi Card -->
    <div class="p-4 text-center">
        <!-- Nama -->
        <p class="font-semibold text-lg mb-2">Name</p>
        <p class="text-gray-700 mb-2">
            <span class="bg-[linear-gradient(to_bottom,transparent_0%,transparent_calc(100%_-_1px),#EFC3CA_calc(100%_-_1px))] bg-[length:100%_1.5rem] pb-1">{{item.name}}</span>
        </p>
        
        <!-- Harga -->
        <div class="mt-4">
            <p class="text-gray-700 font-semibold mb-2">Price</p>
            <span class="text-lg font-bold text-[#B66878] bg-white py-1 px-3 rounded-lg inline-block border border-[#D49BA7]">
                Rp {{ item.price }}
            </span>
        </div>

        <!-- Deskripsi Produk -->
        <div class="mt-4">
            <p class="text-gray-700 font-semibold mb-2">Description</p>
            <p class="text-gray-600 italic bg-[#FCE4EC] p-3 rounded-lg border border-[#DAABB5]">
                {{ item.description }}
            </p>
        </div>
    </div>

    <!-- Tombol Edit dan Delete -->
    <div class="flex justify-center space-x-4 mt-6">
        <!-- Tombol Edit -->
        <a href="{% url 'main:edit_item' item.pk %}" class="bg-[#FAA943] hover:bg-[#bf8133] text-white rounded-full p-3 transition duration-300 shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
            </svg>
        </a>
        <!-- Tombol Delete -->
        <a href="{% url 'main:delete_item' item.pk %}" class="bg-red-700 hover:bg-red-900 text-white rounded-full p-3 transition duration-300 shadow-md">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>
</div>
